---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Experience">
  <section id="experience">
    <h2 class="text-3xl font-bold">Experience</h2>
    <p>I have worked in projects as:</p>
  </section>
</Layout>
