---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to my<span class="text-gradient">Portfolio</span></h1>
    <p class="instructions">
      This is a test <code>for my projects</code>.<br />
      <strong>Contact me</strong>
    </p>
  </main>
</Layout>
