---
import Layout from "../layouts/Layout.astro";
import Technologies from "../components/Technologies.astro";
import Card from "../components/Card.astro";

import { projectsInfo } from "../helpers/projects";
import type { ACTION_ERROR_CODES, ACTION_QUERY_PARAMS } from "astro:actions";
---

<Layout title="Portfolio">
  <main>
    <section class="h-screen flex justify-center items-center">
      <div class="w-[40%]">
        <div class="text-8xl font-bold text-shadow-xl mb-4 flex flex-col">
          <p class="select-none inline-block">Santiago</p>
          <p class="text-slate-600 select-none inline-block">Herrera</p>
        </div>
        <p
          class="text-xl text-slate-500 font-semibold inline-block w-[85%] text-balance mb-3"
        >
          <strong>Full Stack Developer</strong> and Mechatronic Engineer specialized
          in <strong>Frontend</strong>. I'm passionate for developing innovative
          and creative solutions
        </p>
        <Technologies />
      </div>
      <img
        class="w-[250px] h-[250px] rounded-full object-cover object-center"
        src="/Profile.jpg"
      />
    </section>
    <section class="flex flex-col w-[59%] mx-auto h-[80vh]">
      <h2
        id="experience"
        class="text-2xl text-slate-400 font-bold mb-3 inline-block"
      >
        Work Experience
      </h2>
      <div>
        <h3 class="text-xl font-semibold">Full Stack Developer</h3>
        <p>I've contributed to different projects</p>
      </div>
    </section>
    <section class="w-full flex flex-col items-center mb-[20vh]">
      <h2 id="projects" class="text-3xl font-bold mb-6 inline-block">
        Projects
      </h2>
      <div class="flex gap-3">
        {
          projectsInfo.map((project) => {
            return <Card {...project} />;
          })
        }
      </div>
    </section>
    <section class="p-2 w-full flex flex-col items-center mb-[15vh]">
      <h2 class="text-3xl font-bold mb-3 inline-block">Contact Me</h2>
      <p class="text-slate-600 mb-6">Feel free to reach out to me via email!</p>
      <a
        href="mailto:your-email@example.com?subject=Contact from Portfolio"
        class="bg-blue-500 text-white py-2 px-4 rounded-full hover:bg-blue-600"
      >
        Send Email
      </a>
    </section>
  </main>
</Layout>
<style>
  input {
    margin-bottom: 12px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid white;
    padding: 6px;
  }
  input:focus {
    outline: none;
  }
</style>
