---
import Layout from "../layouts/Layout.astro";
import Technologies from "../components/Technologies.astro";
---

<Layout title="Portfolio">
  <main>
    <section
      class="h-screen bg-slate-300 flex gap-[20vh] pb-[15vh] justify-center items-center"
    >
      <div>
        <div class="text-8xl font-bold text-shadow-xl mb-4">
          <p class="select-none">Santiago</p>
          <p class="text-slate-600 select-none">Herrera</p>
        </div>
        <p class="text-xl text-slate-600 font-semibold">
          Full stack developer specialized in <strong>frontend</strong>
        </p>
        <Technologies />
      </div>
      <div class="w-[250px] h-[250px] rounded-full bg-slate-600"></div>
    </section>
  </main>
</Layout>
