---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Projects">
  <section class="h-screen bg-slate-400">
    <h2 class="text-3xl font-bold mb-3">Projects</h2>
    <div class="grid grid-cols-2 gap-3 w-[60%]">
      <Card name="Hotelify" img="/Hotelify.jpg" />
      <Card name="Bytezone" img="/Bytezone.jpg" />
    </div>
  </section>
</Layout>
