---

---

<header class="bg-slate-500 h-[20vh] w-full p-3">
  <nav class="w-full">
    <ul class="flex justify-center gap-4">
      <li>Contact me</li>
      <li>Projects</li>
      <li>Experience</li>
    </ul>
  </nav>
</header>
