---

---

<div class="absolute w-full bottom-[50px] rounded-xl p-3">
  <nav
    class="flex p-1 justify-center gap-2 w-fit mx-auto h-fit bg-slate-400 px-4 rounded-2xl max-h-[40px] items-center transition-all"
  >
    <a href="/" class="inline-block my-2"
      ><img
        src="/home.svg"
        alt="Home"
        class="w-7 hover:pb-4 hover:drop-shadow-lg scale-110"
      /></a
    >
    <a href="/projects" class="inline-block my-2"
      ><img
        src="/projects.svg"
        alt="Projects"
        class="w-7 hover:pb-4 hover:drop-shadow-lg"
      /></a
    >
    <a href="/experience" class="inline-block my-2"
      ><img
        src="/experience.svg"
        alt="Experience"
        class="w-7 hover:pb-4 hover:drop-shadow-lg"
      /></a
    >
  </nav>
</div>
<style>
  img {
    transition: all;
    transition-duration: 150ms;
  }
  nav:hover > a > img {
    width: 40px;
  }
</style>
