---

---

<div class="fixed z-50 w-full bottom-0 pb-[40px] rounded-xl p-3">
  <nav
    class="flex justify-center gap-2 w-fit mx-auto h-fit px-4 pb-3 hover:pb-1 items-center transition-all duration-150"
  >
    <a href="#" class="inline-block"
      ><img
        src="/home.svg"
        alt="Home"
        class="w-7 hover:pb-4 hover:drop-shadow-lg scale-110"
      /></a
    >
    <a href="#projects" class="inline-block"
      ><img
        src="/projects.svg"
        alt="Projects"
        class="w-7 hover:pb-4 hover:drop-shadow-lg"
      /></a
    >
    <a href="/experience" class="inline-block"
      ><img
        src="/experience.svg"
        alt="Experience"
        class="w-7 hover:pb-4 hover:drop-shadow-lg"
      /></a
    >
  </nav>
</div>
<style>
  img {
    transition: all;
    transition-duration: 150ms;
  }
  a:hover > img {
    width: 50px !important;
  }
  nav:hover > a > img {
    width: 35px;
  }
</style>
