---

---

<div class="bg-slate-900 bottom-[15px] w-fit p-3 text-xl">
  <nav class="w-full">
    <ul class="flex justify-center gap-4">
      <li><a href="#experience">Contact me</a></li>
      <li>Projects</li>
      <li>Experience</li>
    </ul>
  </nav>
</div>
