---

---

<div class="flex mx-auto w-fit">
  <a href="https://github.com/SantiHerrera18" target="_blank"
    ><img src="/github.svg" alt="github" class="w-16" /></a
  >
  <a href="https://linkedin.com/in/santiago-herrera-139811308" target="_blank"
    ><img src="/linkedin.svg" alt="linkedin" class="w-16" /></a
  >
</div>
