---

---

<div class="flex mx-auto w-full pt-2 gap-[10%]">
  <a href="https://github.com/SantiHerrera18" target="_blank"
    ><img
      src="/github.svg"
      alt="github"
      class="w-10 hover:scale-110 transition duration-150"
    /></a
  >
  <a href="https://linkedin.com/in/santiago-herrera-139811308" target="_blank"
    ><img
      src="/linkedin.svg"
      alt="linkedin"
      class="w-10 hover:scale-110 transition duration-150"
    /></a
  >
</div>
